name: challenfit-backend
services:
  backend-blue:
    build: .
    env_file: 
      - .env
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 30s
      start_period: 180s
      timeout: 10s
      retries: 3
    networks:
      - backend-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./.env:/app/.env:ro  # 읽기 전용으로 .env 파일 마운트

  backend-green:
    build: .
    env_file: 
      - .env
    environment:
      - NODE_ENV=production
    ports:
      - "3002:3000"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 30s
      start_period: 180s
      timeout: 10s
      retries: 3
    networks:
      - backend-net
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./.env:/app/.env:ro  # 읽기 전용으로 .env 파일 마운트

networks:
  backend-net:
    driver: bridge